<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Формат вывода логов -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для корневого логгера -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Настройка уровня логирования для пакетов -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.example" level="DEBUG"/>
  
</configuration>
